* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
}
nav {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.nav-links {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: #5f5f79;
  font-size: 22px;
  text-decoration: none;
}
.cart {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.presentation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.introduction {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#494964),
    to(#6f6f89)
  );
  background: -webkit-linear-gradient(left, #494964, #6f6f89);
  background: -moz-linear-gradient(left, #494964, #6f6f89);
  background: -o-linear-gradient(left, #494964, #6f6f89);
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quote {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#494964),
    to(#6f6f89)
  );
  background: -webkit-linear-gradient(left, #494964, #6f6f89);
  background: -moz-linear-gradient(left, #494964, #6f6f89);
  background: -o-linear-gradient(left, #494964, #6f6f89);
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}
.intro-text {
  width: 80%;
}
.cta {
  padding: 50px 0px 0px 0px;
} /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
button:focus,
input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  -moz-box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  cursor: pointer;
}
.cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  color: white;
  margin: 30px 0px 0px 30px;
}

.cover {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60vh;
}
.cover img {
  height: 100%;
  -webkit-filter: drop-shadow(0px 0px 3px black);
  filter: drop-shadow(0px 0px 3px black);
  -webkit-animation: drop 1.5s ease;
  -moz-animation: drop 1.5s ease;
  -o-animation: drop 1.5s ease;
  animation: drop 1.5s ease;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

.laptop-select {
  width: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-moz-keyframes drop {
  0% {
    opacity: 0;
    -moz-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-o-keyframes drop {
  0% {
    opacity: 0;
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
:root {
  --background: #33837e;
  --left-side: #5de2a3;
  --card: #c7ffbc;
  --card-line: #80ea69;
  --button-color-3: #26850e;
  --button-color-2: #379e1f;
  --button-color-1: #56be3e;
  --post: #dddde0;
  --numbers: #838183;
  --numbers-2: #aaa9ab;
  --post-line: #757375;
  --post-line2: #545354;
  --dollar: #4b953b;
}

/* Page Transtion */

.transition-fade {
  opacity: 1;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  -moz-transition: 500ms;
  transition: 500ms;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
@import url("https://fonts.googleapis.com/css?family=Ubuntu:700");

.link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #ec407a;
}
.link::after {
  content: "";
  background: rgba(236, 64, 122, 0.25);
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}
.link:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}
main {
  height: 90vh !important;
}

html.is-animating .transition-fade {
  opacity: 0;
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -o-transform: translateY(-25%);
  transform: translateY(-25%);
}

html.is-leaving .transition-fade {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#logo {
  width: 150px;
}

.burger {
  display: none;
  z-index: 9999999999 !important;
  color: black;
  width: fit-content;
  flex-direction: column;
  height: fit-content;
  transition: all 0.3s ease;
}
.burger .line {
  width: 30px;
  height: 4px;
  margin: 3px;
  color: black;
  background-color: black;
  cursor: pointer;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*RESPONSIVE*/

@media screen and (max-width: 1571px) {
  .intro-text p {
    font-size: 15px;
  }
  .intro-text h1 {
    font-size: 35px;
  }
  .quote {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1381px) {
  #homeimg {
    width: 400px;
    height: auto;
  }
  .quote {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 933px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text {
    margin: auto;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 30px 0px;
  }
  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    -webkit-transform: translate(50%, 5%);
    -moz-transform: translate(50%, 5%);
    -ms-transform: translate(50%, 5%);
    -o-transform: translate(50%, 5%);
    transform: translate(50%, 5%);
  }
  .cover img {
    height: 80%;
  }

  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.2;
  }
}

@media screen and (max-width: 613px) {
  .nav-link {
    font-size: 19px;
  }
  .moreinfoclassname {
    display: none;
  }
  .logo-container {
    display: none;
  }
  header {
    width: 50%;
  }
  #homeimg {
    width: 200px;
    height: auto;
  }
  .quote {
    font-size: 10px !important;
    margin-bottom: 50px !important;
  }
  .circle {
    display: none;
  }
  .cta button,
  .cta a {
    margin: 15px 0;
  }
}

@media screen and (max-width: 397px) {
  header {
    width: 100%;
  }
}
/* @media screen and (max-height: 1150px) {
  #logo {
    margin-top: 50px;
  }
}

@media screen and (max-height: 671px) {
  #logo {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 50%;
    -webkit-transform: translate(50%, 5%);
    -moz-transform: translate(50%, 5%);
    -ms-transform: translate(50%, 5%);
    -o-transform: translate(50%, 5%);
    transform: translate(50%, 5%);
  }
  .cover img {
    height: 80%;
  }

  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.2;
  }
}

@media screen and (max-width: 1056px) {
  button,
  input {
    margin: 0 !important;
  }
}

@media screen and (max-width: 542px) {
  img {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media screen and (max-width: 498px) {
  img {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  main {
    max-width: 100vw;
  }
  header {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  .c {
    display: none;
  }
  .presentation {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media screen and (max-width: 442px) {
  .presentation {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@media screen and (max-width: 346px) {
  .presentation {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  button,
  input {
    margin: 30px !important;
  }
}

@media screen and (max-width: 530px) {
  nav {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
  }
}

@media screen and (max-width: 394px) {
  header {
    width: 100vw !important;
    margin: 0;
  }
}

@media screen and (max-width: 380px) {
  .logo-container {
    display: none;
  }
}

@media screen and (max-width: 2132px) {
  .abouttxt {
    width: 90% !important;
  }
}

@media screen and (max-width: 1714px) {
  .imgabout {
    height: 330px !important;
    width: 500px;
    margin: auto;
  }
}

@media screen and (max-width: 1146px) {
  .abouttxt {
    font-size: 15px !important;
    margin: auto;
  }
}



@media screen and (max-width: 1489px) {
  .intro-text p {
    font-size: 15px;
  }
}

@media screen and (max-width: 1233px) {
  img {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 1127px) {
  button {
    margin-left: 0 !important;
    margin-top: 30px !important;
  }
  .intro-text {
    text-align: center;
    margin: auto;
  }
  .quote {
    font-size: 15px !important;
  }
} */
